<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187085313173-1555ti2777jbni34nnv613l1t1t093c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187085313173-1555ti2777jbni34nnv613l1t1t093c9</string>
	<key>API_KEY</key>
	<string>AIzaSyChMRqn4x4YOfcZlfMY7_6JL1lG-Q62_68</string>
	<key>GCM_SENDER_ID</key>
	<string>187085313173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loyaltyWorks.Hoya-Thailand</string>
	<key>PROJECT_ID</key>
	<string>hoya-thailand</string>
	<key>STORAGE_BUCKET</key>
	<string>hoya-thailand.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187085313173:ios:cbc6d6a6d9e7096182779c</string>
</dict>
</plist>